{% extends 'pages/base.html' %}
{% load static %}

{% block title %}Memories2Bytes{% endblock %}

{% block content %}
<header class="hero" style="background-image: url('{% static 'images/pages/main.jpg' %}');">
    <div class="overlay"></div> <!-- Overlay div -->
    <div class="container text-center">
        <div class="container d-flex align-items-center justify-content-center" style="height: 100vh;">
            <form method="post" action="">
                {% csrf_token %}
                <button type="submit" class="btn btn-danger btn-lg btn-block d-flex align-items-center justify-content-center">
                    <i class="fab fa-google"></i>
                    <span class="ml-2">Sign in with Google</span>
                </button>
            </form>    
        </div>
    </div>
</header>
{% endblock %}

