{% load static %}


<footer class="bg-dark text-light mt-4 py-4">
    <div class="container">
        <div class="row">
            <!-- Left Side: Map and Address -->
            <div class="col-md-4 text-center">
                <img src="{% static 'images/pages/lasVegas.jpg' %}" alt="Location Map" class="img-fluid mb-2" style="max-width: 100px;"> <!-- Adjust max-width as needed -->
                <p>Summerlin<br>las vegas</p>
            </div>
            <!-- Center: Footer Text -->
            <div class="col-md-4 text-center">
                <ul class="list-unstyled">
                    <li><a href="/about" class="text-light">About Us</a></li>
                    <li><a href="/pricing" class="text-light">Pricing</a></li>
                    <li><a href="/process" class="text-light">Our Process</a></li>
                    <li><a href="#" class="text-light" data-toggle="modal" data-target="#contactModal">Get A Quote</a></li>
                    {% if user.is_authenticated %}
                        <li class="nav-item">
                            <a class="text-light" href="/logout">Log Out</a>
                        </li>
                    {% else %}
                        {% load socialaccount %}
                        <li><a href="{% provider_login_url 'google' %}?next=/dashboard" class="text-light">Log In</a></li>
                    {% endif %}
                </ul>
            </div>
            <!-- Right Side: Additional Links or Information -->
            <div class="col-md-4 text-center">
                <ul class="list-unstyled">
                    <li><a href="#" class="text-light">Facebook</a></li>
                    <li><a href="#" class="text-light">Instagram</a></li>
                    <li><a href="#" class="text-light">Twitter</a></li>
                </ul>
            </div>
        </div>
    </div>
    <!-- Copyright Notice -->
    <div class="text-center mt-3">
        <p>&copy; {{ year }} Memories2Bytes. All rights reserved.</p>
    </div>
</footer>
